<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <title>My Site</title>
</head>
<body class="bg-secondary mt-5">
  
   <h1 class="text-center text-white">Website is Under Construction</h1>


    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/popper.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.js' %}"></script>
</body>
</html>