<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <style>
        h1{
            font-family: 'Pacifico', cursive;
        }
        body,html{
            height: 100%;
        }
    </style>
    <title>Page Counter</title>
</head>
<body class="bg-dark">
    <div class="container d-flex align-items-center justify-content-center h-100">

        <h1 class="text-warning display-2">Page Count: <span class="text-white">{{c}}</span></h1>
    </div>
   


    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/popper.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.js' %}"></script>
</body>
</html>