<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Session</title>
</head>
<body>
    <h2>Get Session....</h2>
    {{name}}
    {% for key in request.session.keys %}
    {{key}}
    {% endfor %}
    <hr>
    {% for key in keys %}
    {{key}}
    {% endfor %}
    <hr>
    {% for item in items %}
    {{item}}
    {% endfor %}
    <hr>
    {% for key, value in items %}
    {{key}} {{value}} <br>
    {% endfor %}
    <hr>
</body>
</html>